:root {
  --primary-color: #f4f4f4; /* Light Gray */
  --accent-color: #66b2ff; /* Soft Blue */
  --highlight-color: #ffd700; /* Gold/Yellow */
  --text-color: #333333; /* Dark Gray */
  --secondary-accent: #ffa07a; /* Light Salmon */
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--primary-color);
  color: var(--text-color);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}
